* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#clock_date,
#clock_time {
    font-size: 1.6rem;
}

@media (min-width: 700px) {
    main {
        width: 50%;
        font-size: 1.6rem;
    }

    #clock_date,
    #clock_time {
        font-size: 2.2rem;
    }
}

@media (min-width: 1100px) {
    main {
        width: 20%;
    }

    #clock_date,
    #clock_time {
        font-size: 3rem;
    }
}